@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: moccasin;
  
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1, h2 {
  text-align: center;
  color: darksalmon;
}
a {
  color: darkblue;
  text-decoration: none;
  border: 4px solid rgb(214, 168, 218);
  &&:hover,
  &&:focus {
    color: darkmagenta;
  }
};

ul {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
svg{
  font-size: 20px;
  color: darkmagenta;
  margin-left: 5px;
}
